.rs-btn {
	position: fixed; bottom: 450px; right: 40px;
}

.ps-btn {
	font-size: 20px !important;
	background-color: #39C6A6 !important;
	color: #fff !important;
	border-color: #f2f2f2 !important;
}

.ps-btn:hover {
	background-color: #33bb9c !important;
	color: #fff !important;
	border-color: #33bb9c !important;
	transition: all .2s ease-in;
	cursor: pointer;
}

.ps-btn:focus, ps-btn-red:focus {
	color: #fff !important;
}

.dc-chart .pie-slice {
	font-size: 20px;
}

.dc-chart g.row text {
	font-size: 20px	;
	fill: #000;
}

.dc-chart .axis text {
    font: 17px sans-serif;
}

#hourChart svg {
	padding-left: 10px;
}

#heatMapChart svg {
	padding-left: 10px;
	padding-right: 10px;
}

.dc-chart .heatmap g.cols.axis text {
    position: relative;
    top: 10px;
}

rect.heat-box:hover {
	cursor: pointer;
}

g.box-group:hover {
	cursor: pointer;
}

tspan {
	fill: #fff;
	font-size : 16px;
}